/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
    height: 60px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 10px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .get-in-touch {
    background-color: #145385;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .get-in-touch .arrow {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .arrow-image{
    margin-left: 10px;
  }
  